<%# provide(:title, 'All recipes') %>
<br><br><br><br><br>

<% @recipes.each do |recipe| %>
<div id="section">
  <%= link_to recipe.name, recipe %><br>
    <%= image_tag recipe.picture.url, class:"picture" if recipe.picture? %>
  </div>
<% end %>
      <%# recipe.dailycalories(current_user.calories) %>


<% if params[:match] %>
  <%= link_to "Un-Match", recipes_path %>
<% else %>
  <%= link_to "Match", recipes_path(match: "") %>
<% end %>
