<% provide(:title, 'All recipes') %>
<h1>All recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
    	<%= image_tag recipe.picture.url %>
      <%= link_to recipe.name, recipe %>
      <%= recipe.dailycalories(current_user.calories) %>
    </li>
  <% end %>
</ul>