.recipe_pic {
  width: 350px;
}

.nutrition_pic {
  width: 630px;
}

#header {
    color:#333;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    float:left;
    padding:5px; 
}

#article {
    width:350px;
    padding:10px; 
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}